{% extends "main.html" %}
{% block title %}Listings Nearby{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
        <div class="my-5 p-4 bg-body rounded shadow-sm">

          <div class="d-flex text-muted pt-3">
            <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="260" height="180" src="{{ listing['image'] }}">
          </img>
            <p class="pb-3 mb-0 small lh-sm border-bottom">
              <strong style="font-size: 33px" class="d-block text-gray-dark">{{ listing["item"] }}</strong>
              <text style="font-size: 13px"class="d-block text-gray-dark">{{ listing["user"] }}</text>
              <br>
              <strong style="font-size: 24px; color: #FE1B7E;" class="d-block text-gray-dark">HKD${{ listing["price"] }}</strong>
              <text style="font-size: 13px" class="d-block text-gray-dark">{{ listing["lendtime"] }} hours</text>
              {% if active %}
              <form style="transform: translate(100px);" action="/borrow/success" method="POST">
                <button class="btn btn-lg btn-primary btn-block">Borrow</button>
                <input  type="hidden" name="id" value="{{ listing['_id'] }}">
              </form>
              {% else %}
              <a href="/borrow/success"><button class="btn btn-lg btn-primary btn-block" disabled>Borrowed</button></a>
              {% endif %}
            </p>
            
          </div>
        </div>



 {% endblock %}